input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}

.modal {
    position: fixed !important;
    top: 40% !important; 
    left: 50% !important;
    transform: translate(-50%, -100%) !important;
    opacity: 0;
    z-index: 999 !important;
    transition: ease-in-out 200ms !important;
}

.modal.active {
    opacity: 1;
    transform: translate(-50%, -50%) !important;
}

#overlay {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    background-color: rgba(0, 0, 0, .95) !important;
    z-index: 998 !important;
    transition: ease-in-out 200ms !important;
    opacity: 0 !important;
}

#overlay.active {
    opacity: 1;
}